.container {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr 7fr 1fr;
  grid-template-areas:
    "header header "
    "aside main"
    "aside main"
    "footer footer";
}

header {
  grid-area: header;
  background-color: #242424;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  align-items: center;
  color: #d3d3d3;
}

aside {
  grid-area: aside;
  margin: 5px;
}
aside > ul {
  padding: 0;
  text-align: center;
}
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}
footer {
  display: flex;
  grid-area: footer;
  background-color: #242424;
  justify-content: center;
  padding: 1rem;
}
section {
  display: flex;
  flex-grow: 1;
}

section ul {
  width: 100%;
  margin: 5px;
  border-radius: 3px;
  background-color: white;
  padding: 0.5rem 0.8rem;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.2);
}
section div {
  width: 100%;
}
.carrousel {
  width: 100%;
  max-height: 90%;
}
.second-section {
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 0) {
  .container {
    grid-template-areas:
      "header header"
      "aside aside"
      "main main"
      "footer footer";
  }
  section {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  section {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 992px) {
  .container {
    grid-template-columns: 3fr 4fr;
    grid-template-areas:
      "header header"
      "aside main"
      "aside main"
      "footer footer";
  }
  section {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
}
